 .over-view {
   height: 360px;
   border: 5px solid #8DA9C4;
   border-radius: 30px;
   color: #134074;
 }

 .date {
   background-color: #EEF4ED !important;
   border: 3px solid #8DA9C4;
   padding: 5px;
   border-radius: 30px;
 }

 .over-view-detail {
   position: relative;
 }

 .vertical-hr {
   position: absolute;
   width: 1px;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   top: 115px;
   height: 260px;
   border: none;
   margin: 0 10px;
 }

 .total-sales {
   width: 250px;
   height: 100px;
   box-sizing: border-box;
   word-wrap: break-word;
   overflow-wrap: break-word;
   white-space: normal;
 }

 .New-Orders {
   height: 360px;
   border: 5px solid #8DA9C4;
   border-radius: 30px;
   position: relative;
   color: #134074;
 }

 .high-value-users-box {
   border-radius: 10px;
   padding: 20px;
   font-family: Arial, sans-serif;
   height: 360px;
 }

 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 1px 10px 1px 5px rgba(238, 244, 237, 0.82);
   -webkit-box-shadow: 1px 10px 1px 5px rgba(238, 244, 237, 0.767);
   -moz-box-shadow: 1px 10px 1px 5px rgb(238, 244, 237);

 }

 .header h2 {
   font-size: 18px;
   color: #003366;
 }

 .all-time-btn {
   display: flex;
   align-items: center;
   padding: 5px 10px;
   background-color: #e9eff5;
   border: none;
   border-radius: 5px;
   color: #003366;
   cursor: pointer;
   font-size: 14px;
 }

 .all-time-btn .calendar-icon {
   margin-right: 5px;
 }

 .users-table {
   width: 100%;
   border-spacing: 0;
 }

 .users-table td {
   padding: 5px 0;
   font-size: 14px;
   color: #003366;
 }

 .users-table td:nth-child(1) {
   text-align: left;
   width: 10%;
 }

 .users-table td:nth-child(2) {
   text-align: left;
   width: 60%;
 }

 .users-table td:nth-child(3) {
   /* text-align: right; */
   width: 30%;
 }

 .view-all {
   margin-top: 10px;
   text-align: left;
   position: absolute;
   bottom: 10px;
 }

 .view-all a {
   color: #003366;
   text-decoration: none;
   font-size: 14px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }

 .view-all a span {
   margin-left: 5px;
 }

 .High-value-Users,
 .Top-delivery-boys,
 .High-Value-Itmes,
 .Next-day-Subscription {
   height: 360px;
   border: 5px solid #8DA9C4;
   border-radius: 30px;
   color: #134074;
   position: relative;
 }

 .btn-container {
   background-color: #EEF4ED;
   box-shadow: 1px 10px 1px 5px rgba(238, 244, 237, 0.82);
   -webkit-box-shadow: 1px 10px 1px 5px rgba(238, 244, 237, 0.767);
   -moz-box-shadow: 1px 10px 1px 5px rgb(238, 244, 237);
 }

 .Admin-header-button {
   border: none;
   padding: 10px;
   background-color: #8DA9C4;
   width: 20%;
   border-radius: 30px;
   color: #134074;
   z-index: 10;
 }


 .D-header {
   background-color: #EEF4ED !important;
   position: sticky;
   top: 106px;
   z-index: 10;
 }

 .Paginition-for-AllOrder {
   position: fixed;
   top: 90vh;
 }

 .Pagination-for-AllOrder .MuiPaginationItem-root {
   color: #EEF4ED;
   border-color: #0B2545;
   background-color: blue !important;
   /* Using !important to ensure styles take precedence */
 }

 .dot-parent {
   position: relative;
 }

 .red-dot {
   position: absolute;
   top: 13px;
   left: 184px;
   height: 10px !important;
   width: 10px !important;
   /* border: 1px solid black; */
   background-color: red;
   /* Ensure visibility */
   border-radius: 50% !important;
 }

 .red-none {
   display: none;
   background-image: url('/public/Audios/new-order-store-admin.mp3');

 }

 .red-dot-2 {
   position: absolute;
   top: 2px;
   right: -13px;
   height: 10px !important;
   width: 10px !important;
   background-color: red;
   /* Ensure visibility */
   border-radius: 50% !important;
 }

 .loader-container {
   height: 100vh;
   width: 130vw;
   position: fixed;
   top: 0;
   z-index: 1;
   background-color: #4241412b;
   left: -150px;
 }

 .loader {
   width: fit-content;
   font-weight: bold;
   position: absolute;
   top: 50%;
   left: 50%;
   font-family: monospace;
   font-size: 30px;
   background: radial-gradient(circle closest-side, #0B2545 94%, #0000) right/calc(200% - 1em) 100%;
   animation: l24 1s infinite alternate linear;
 }

 .loader::before {
   content: "135 DEGREES";
   line-height: 1em;
   color: #0000;
   background: inherit;
   background-image: radial-gradient(circle closest-side, #fff 94%, #0B2545);
   -webkit-background-clip: text;
   background-clip: text;
 }

 .position-absolute {
   right: 14px;
   top: 13px !important;
 }

 @keyframes l24 {
   100% {
     background-position: left
   }
 }

 .red {
   background-color: #ff0000 !important;
   color: red !important;

 }

 .Yellow {
   background-color: #ffcc00 !important;
   color: yellow;
 }

 .custom-date-picker .MuiCalendarPicker-root {
   background-color: lightgreen !important;
   /* Change the calendar's background color */
 }

 .disable {
   pointer-events: none;
   opacity: 0.5;
 }

 .menu-item.active,
 .submenu-item.active {
   background-color: #0B2545 !important;
   /* border-radius: 5px; */
 }

 .items-dropdown {
   top: 82px !important;
   border-radius: 10px;
   left: 0px;
 }
 .dropdown-search-container{
  /* background-color: #8DA9C4; */
  padding: 10px;
 }

 .dropdown-search{
  color: #fff !important;
 }
 .edit-hr{
  border: none;
  border-top: 3px dashed #000000;
  margin: 15px 0;
 }
 .since-text{
  display: flex;
  align-items: center;
 gap: 10px;
  font-size: 20px;
  font-weight: 100;
 }
 .value-box{
  font-size: 12px;
  height: 20px;
  width: 50px;
  border: 2px solid #8DA9C4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
 }


 .virtical-line {
   position: absolute;
   /* transform: rotate(90deg); */
   height: 353px;
   width: 1.3px;
   background-color: #8DA9C4;
   /* left: 50%; */
   right: 50%;
   top: 0;
 }

 .ingredients-container {
   /* min-height: 100vh; */
   display: flex;
   justify-content: center;
   align-items: center;
   /* padding: 20px; */

 }

 .ingredients-card {
   /* max-width: 900px; */
   width: 100%;

   padding: 20px;
   border-radius: 10px;

 }

 .ingredients-title {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
   color: #102c57;
 }

 .ingredients-form {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;
 }

 .input-field {
   flex: 2;
   padding: 10px;
   border: 3px solid #0B2545 !important;
   border-radius: 30px;
   font-size: 16px;
 }

 .select-field {
   flex: 1;
   padding: 10px;
   border: 3px solid #0B2545 !important;
   border-radius: 30px;
   font-size: 16px;
 }


 .add-button {
   background-color: #0B2545;
   color: white;
   width: 25%;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   font-weight: bold;
 }

 .add-button:hover {
   background-color: #0d2345;
 }

 .search-container {
   display: flex;
   gap: 10px;
   margin-bottom: 20px;
 }

 .refresh-button,
 .all-button {
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
 }

 .refresh-button {
   background-color: #ccc;
 }

 .all-button {
   background-color: #000;
   color: white;
 }

 .ingredients-table {
   width: 100%;
   border-collapse: collapse;
 }

 .ingredients-table th,
 .ingredients-table td {
   padding: 10px;
   /* border-bottom: 1px solid #ddd; */
   text-align: left;
 }

 .ingredients-table th {
   /* background-color: #e0e0e0; */
   font-weight: bold;
 }

 .ingredients-table tr:hover {
   background-color: #f5f5f5;
 }

 .action-buttons {
   display: flex;
   gap: 10px;
 }

 .edit-button,
 .delete-button {
   padding: 8px 52px;
   border: none;
   cursor: pointer;
 }

 .edit-button {
   /* background-color: #6c757d; */
   border-radius: 30px;
   color: black;
   border: 2px solid black;
 }

 .delete-button {
   border-radius: 30px;
   background-color: #dc3545;
   color: white;
 }

 .edit-button:hover {
   background-color: #5a6268;
 }

 .delete-button:hover {
   background-color: #c82333;
 }

 /* Responsive Design */
 @media (max-width: 768px) {

   .ingredients-form,
   .search-container {
     flex-direction: column;
   }
 }

 .ingredients-header {
   position: sticky;
   top: 109px;

   background-color: #EEF4ED;
 }

 .custom-dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-btn {
   /* background: #007bff; */
   color: rgb(0, 0, 0);
   padding: 10px 15px;
   border: none;
   border-radius: 30px;
   width: 100%;
   cursor: pointer;
   border: 2px solid black;
 }

 .dropdown-content {
   position: absolute;
   background: white;
   z-index: 10;
   border: 1px solid #ddd;
   border-radius: 5px;
   width: auto;
   max-height: 300px;
   overflow-y: auto;

   margin-top: 5px;
   padding: 20px;
 }

 .category-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   cursor: pointer;
   border-bottom: 1px solid #eee;
   flex: 2;
 }

 .category-item:hover {
   background: rgba(158, 145, 145, 0.285);
 }

 .delete-btn {
   background: transparent;
   color: rgb(255, 0, 0);
   border: none;
   border-radius: 3px;
   cursor: pointer;
   width: 20%;
   z-index: 10;
 }

 .add-category {
   display: flex;
   gap: 1px;
   margin-top: 10px;
 }

 .add-category input {
   flex: 1;
   padding: 5px;
   border: 1px solid #ddd;
   border-radius: 5px;
 }

 .add-button {
   /* background: green; */
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 30px;
   cursor: pointer;
 }